<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @purchase.link_id %>
</p>

<p>
  <b>User:</b>
  <%= @purchase.user_id %>
</p>

<p>
  <b>Successful:</b>
  <%= @purchase.successful %>
</p>

<p>
  <b>State:</b>
  <%= @purchase.state %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
