#right_sidebar
  %ul
    %li{:class => @class_about ? "current" : "no_class"}= link_to "About", about_path
    %li{:class => @class_faq ? "current" : "no_class"}= link_to "Faq", faq_path
    %li{:class => @class_blog ? "current" : "no_class"}= link_to "Blog", blog_path
    %li{:class => @class_contacts ? "current" : "no_class"}= link_to "Contacts", contacts_path
    %li{:class => @class_terms_of_use ? "current" : "no_class"}= link_to "Terms of use", terms_of_use_path
    %li{:class => @class_privacy_policy ? "current" : "no_class"}= link_to "Privacy Policy", privacy_policy_path
