#article
  = render :partial => 'shared/right_sidebar'
  .content
    %section
      .date= "20th July 2012"
      %h1= "Lorem ipsum is simply dummy text?"
      %p
        = "The genuine progress indicator (GPI) is an alternative metric system which is an addition to the national system of accounts that has been suggested to replace, or supplement, "
        = raw "the GPI will be zero if the financial costs of crime and pollution equal the financial gains in production of goods and services, all other factors being constant. <i>#{link_to 'more...', '', :class => 'more'}</i>"
      .my_hr
      = raw("<br>")
      .date= "18th July 2012"
      %h1= "Lorem ipsum is simply dummy text?"
      %p
        = "The genuine progress indicator (GPI) is an alternative metric system which is an addition to the national system of accounts that has been suggested to replace, or supplement, "
        = raw "the GPI will be zero if the financial costs of crime and pollution equal the financial gains in production of goods and services, all other factors being constant. <i>#{link_to 'more...', '', :class => 'more'}</i>"
      .my_hr

  .cleaner